<p id="notice"><%= notice %></p>

<h3>
  <strong style="font-family: Avenir; color: #00BFFF;">Name:</strong>
  <%= @product.name %>
</h3>

<h3>
  <strong style="font-family: Avenir; color: #00BFFF;">Description:</strong>
  <%= @product.description %>
</h3>

<h3>
  <strong style="font-family: Avenir; color: #00BFFF;">Price:</strong>
  <%= @product.formatted_price %>
</h3>

<h4 style="font-family: Avenir; color: #1E90FF;">Reviews</h4>
<% @product.reviews.each do |review| %>
  <p style="font-family: Avenir;">
    <%= review.comment %>
    <br>
    Added on: <%= review.created_at %>
  </p>
<% end %>

  <h4 style="font-family: Avenir; color: #1E90FF;">New Review</h4>
<%= render 'reviews/form' %>

<button type="button" class="btn btn-success" style="font-family: Avenir;" id="edit"><%= link_to 'Edit', edit_product_path(@product) %></button> |
<button type="button" class="btn btn-info" style="font-family: Avenir;" id="edit"><%= link_to 'Back', products_path %></button>
